body {
  margin-top: 55px;
  background-image: url("https://images.unsplash.com/photo-1641147059333-0948d139eda4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80");
}
.weather-container {
  color: #243067;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: yellow;
}

#city,
#state {
  display: inline-block;
  margin: 0px auto;
}
#weatherIcon {
  margin: 0px auto;
}
#weather {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 3rem;
}
#weatherId {
  margin-top: 0px;
  margin-bottom: 0px;
}

.time {
  text-align: center;
  font-size: 80px;
  color: #233067;
}
footer {
  text-align: center;
  margin-top: 6%;
}
a:visited {
  color: black;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1629393587831-f7a1d1efa9de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1767&q=80");

  border: 13px solid #ffff;
  width: 300px;
  height: 300px;
  /* display: flex; */
  align-items: center;
  border-radius: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  color: white;
}
.git {
  margin: 0px 10px;
}
a {
  color: black;
}
/* make it mobile friendly */

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .time {
    font-size: 5em;
  }
  .wrapper {
    width: 70%;
    font-size: 3em;
  }

  #quote {
    font-size: 1em;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .weather-container {
    width: 100%;
    margin: 0 auto;
    margin-top: -50px;
    font-size: 30px;
  }
  .wrapper {
    width: 300px;
    font-size: 2em;
  }
  .container {
    width: 300px;
    height: 300px;
    border: none;
    padding-top: 50px;
    background: none;
  }
  .linder,
  .pascal {
    display: none;
  }
  .time {
    font-size: 4em;
  }

  #author {
    font-size: 1em;
  }
}
