body {
  margin-top: 55px;
  background-image: url("https://images.unsplash.com/photo-1641147059333-0948d139eda4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80");
}
.time {
  font-size: 30px;
}
.time {
  text-align: center;
  font-size: 96px;
  color: #233067;
}
footer {
  text-align: center;
  margin-top: 6%;
}
a:visited {
  color: black;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1629393587831-f7a1d1efa9de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1767&q=80");

  border: 13px solid #ffff;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  color: white;
}
.linder {
  margin-left: 20px;
}
